%ul.nav.nav-tabs
  - if active_tab[:opportunities] 
    %li.active{:role => 'presentation'}
      = link_to "Opportunities", student_home_path
  - else
    %li{:role => 'presentation'}
      = link_to "Opportunities", student_home_path

  - if active_tab[:applications]
    %li.active{:role => 'presentation'}
      = link_to "Applications", student_applications_path
  - else 
    %li{:role => 'presentation'}
      = link_to "Applications", student_applications_path