= render partial: 'tabs', locals: {active_tab: {applications: true}}

%ol.breadcrumb
  %li.active Applications

.row
  .col-sm-3
    %input.form-control{:type => 'text', :placeholder=>'Search Keyword'}
  .col-sm-3
    %input.form-control{:type => 'text', :placeholder=>'City'}

.row
  = render partial: 'opportunity_box', locals: {applied_opportunities: @opportunities, link_to_application: true}
= will_paginate(@applications, renderer: BootstrapPagination::Rails)