.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.message= link_to "#{msg.application.student.name}"
      %span.message applied to 
      %span.opportunity= link_to msg.application.opportunity.title
      %hr
