%ul.nav.nav-pills.nav-stacked
  %li{class: active == :home ? 'active' : ''}= link_to "Home", employer_employer_home_path
  %li{class: active == :opportunities ? 'active' : ''}= link_to "Jobs", employer_opportunities_path
  %li{class: active == :students ? 'active' : ''}= link_to "Students", employer_students_path
  %li{class: active == :recommendations ? 'active' : ''}= link_to "Recommendations", ''