%h2 Revisions

%h3 May 31, 2015 Release 0.900.1
%ul
  %li
    Fix bug that causes activity feed to crash after deleting an application event
  %li
    Fix bug that rendered inaccurate application counts in the employer portal
  %li
    Fix bug that allowed employer to see unapproved applications
  %li
    Fix bug displayed activity feed message related to non-approved applications
  %li
    Fix bug that rendered a application ID in the employer URL
  %li
    Display only approved applications in employer portal 

%h3 May 30, 2015 Release 0.900.0
%ul
  %li
    Add employer activity feed
  %li
    Add employer jobs view 
  %li
    Add employer students view
  %li
    Add employer applications view
  %li
    Add employer applications recommendations view