%ul.nav.nav-tabs
  %li{class: active == :messages ? 'active' : '', role: 'presentation'}= link_to "Applications", staff_messages_path
  %li{class: active == :activity ? 'active' : '', role: 'presentation'}= link_to "Activity", staff_activity_path
