%ul.nav.nav-tabs
  %li{class: active == :applications ? 'active' : '', role: 'presentation'}= link_to "Applications", staff_home_path
  %li{class: active == :activity ? 'active' : '', role: 'presentation'}= link_to "Activity", staff_activity_path
