%ul.nav.nav-pills

  - if active_tab[:inbox] 
    %li.active{:role => 'presentation'}
      = link_to "Inbox (5)"
  - else
    %li{:role => 'presentation'}
      = link_to "Inbox"

  - if active_tab[:completed]
    %li.active{:role => 'presentation'}
      = link_to "Completed", staff_students_path
  - else 
    %li{:role => 'presentation'}
      = link_to "Completed", staff_students_path
