%ul.nav.nav-pills
  %li{class: active.eql?(:inbox) ? 'active' : '', :role => 'presentation'}
    = link_to "Pending Approval (5)"
  %li{class: active.eql?(:archived) ? 'active' : '', :role => 'presentation'}
    = link_to "Archived (1)", '#'
  %li{class: active.eql?(:rejected) ? 'active' : '', :role => 'presentation'}
    = link_to "Rejected (1)", '#' 
