- throw "You must specify the `active` partial local variable" unless defined?(active)
%ul.nav.nav-pills.nav-stacked
  %li{class: active == :home ? 'active' : ''}= link_to "Home", staff_home_path
  %li{class: active == :opportunities ? 'active' : ''}= link_to "Jobs", staff_opportunities_path
  %li{class: active == :students ? 'active' : ''}= link_to "Students", staff_students_path
  %li{class: active == :recommendations ? 'active' : ''}= link_to "Recommendations", staff_recomendations_path
