%ul.nav.nav-tabs
  %li{class: active == :students ? 'active' : '', role: 'presentation'}= link_to "Messages", staff_students_path
  %li{class: active == :invites ? 'active' : '', role: 'presentation'}= link_to "Invites", staff_invites_path
