%ul.nav.nav-tabs
  %li{class: active == :students ? 'active' : '', role: 'presentation'}= link_to "Messages", staff_students_path
  %li{class: active == :alumni ? 'active' : '', role: 'presentation'}= link_to "Alumni", staff_students_path
