%ul.nav.nav-tabs
  %li{class: active == :recruiters ? 'active' : '', role: 'presentation'}= link_to "Recruiters", staff_students_path
  %li{class: active == :staff ? 'active' : '', role: 'presentation'}= link_to "Staff", staff_invites_path
  %li{class: active == :invites ? 'active' : '', role: 'presentation'}= link_to "Invites", staff_team_invites_path
