= render partial: 'tabs', locals: {active_tab: {inbox: true}}

%br

= render partial: 'todo', locals: {subject: 'Application', message: 'Frank Licea applied for Software Engineer at BazaarVoice', todo_timestamp: 'Just Now'}

= render partial: 'todo', locals: {subject: 'Follow Up', message: 'Amanda Ryan had a screen interview with Indeed Inc', todo_timestamp: '1 Week Ago'}

= render partial: 'todo', locals: {subject: 'Follow Up', message: 'Nancy Ortega graduated 4 months ago', todo_timestamp: '4 Months Ago'}