.employer-application-recommendation {
  .staffer-name {
    font-size: 1.1em; 
    font-weight: bold;
  }  
  .staffer-school {
  }
  .staffer-email {
    color: rgb(175, 175, 175); 
    font-size: 1.0em;
  } 
  .staffer-phone {
    color: rgb(175, 175, 175); 
    font-size: 1.0em;
  } 
  .staffer-quote {
    color: rgb(100, 100, 100); 
    font-style: italic;
    font-size: 1.10em;
  }
}