#employer-application {
  span.section {
    font-size: 1.2em;      
    font-weight: bold;
    color: rgb(175, 175, 175);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0px; 
  }
}

.employer-application-recommendation {
  .staffer-name {
    font-size: 1.1em; 
    font-weight: bold;
  }  
  .staffer-school {
  }
  .staffer-email {
    color: rgb(175, 175, 175); 
    font-size: 1.0em;
    font-family: "Georgia"
  } 
  .staffer-phone {
    color: rgb(175, 175, 175); 
    font-size: 1.0em;
    font-family: "Georgia"
  } 
  .staffer-quote {
    color: rgb(100, 100, 100); 
    font-style: italic;
    font-size: 1.10em;
  }
}
