// Place all the styles related to the Opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opportunity-box {
  font-size: 1.20em;

  .recruiter {
    color: rgb(150, 150, 150);
  }

  .title{
    a {
      font-size: 1.50em;
    }
  }

  .description {
    color: rgb(100, 100, 100);
    font-size: 0.9em;
  }

  .time-stamp {
    width: 250px;
    font-size: .90em;
    text-align: right;
    color: rgb(130, 130, 130);
  }
}