
.staff_students {
  .media-body {
    .info {
      color: rgb(130, 130, 130);
      font-size: 1.10em;
    }
  }

  .actions {
    padding-bottom: 5px; 
  }
}

.inbox-header {
  color: #337ab7; 
  font-size: 1.5em;
}

.media.inbox-line-item {
  .inbox-message {
    font-size: 1.30em;
  }

  .help {
    font-style: italic; 
    font-size: 1.0em;
  }

  div.inbox-actions {
    padding-bottom: 5px;
  }

  .date {
    font-size: 1.30em;
  }
}

.student-application-panel {
  .application-heading{
    color: rgb(130, 130, 130);
    font-size: 1.30em; 
    .title {
      font-weight: bold; 
      color: rgb(100, 100, 100);
    }
    .city {
      font-size: 0.7em; 
      font-style: italic;
    }
    .state {
      font-size: 0.7em;
      font-style: italic;
    }
  }
  .application-info {
    .application-title {
      font-size: 1.25em; 
    } 
    .event-description {
      font-style: bold;
    }
    .application-recruiter {
        color: rgb(150, 150, 150); 
        font-style: italic;
    }
  }
}

.application-events-title {
  .title {
    font-size: 1.65em;
    font-style: bold; 
  }
  .company {
    color: rgb(150, 150, 150);
    font-size: 1.65em;
  } 
  .location {
    color: rgb(150, 150, 150);
    font-size: 1.30;
    font-style: italic;
  }
}

.application-event {
  .event-date {
    font-size: 1.30em;
  } 
  .event-title {
    font-size: 1.30em;
  }
}