
.staff_students {
  .media-body {
    .info {
      color: rgb(130, 130, 130);
      font-size: 1.10em;
    }
  }
}

.inbox-header {
  color: #337ab7; 
  font-size: 1.5em;
}

.media.inbox-line-item {
  .inbox-message {
    font-size: 1.0em;
    .title, .student-name{
      font-weight: bold; 
    }
  }
  .date {
    font-size: 1.0em;
    color: rgb(150, 150, 150);
  }
}

.student-application-panel {
  .application-heading{
    color: rgb(130, 130, 130);
    font-size: 1.30em; 
    .title {
      font-weight: bold; 
      color: rgb(100, 100, 100);
    }
    .city {
      font-size: 0.7em; 
      font-style: italic;
    }
    .state {
      font-size: 0.7em;
      font-style: italic;
    }
  }
  .application-info {
    .application-title {
      font-size: 1.25em; 
    } 
    .event-description {
      font-style: bold;
    }
    .application-recruiter {
        color: rgb(150, 150, 150); 
        font-style: italic;
    }
  }
}

.application-events-title {
  .title {
    font-size: 1.10em;
    font-weight: bold; 
  }
  .company {
    font-size: 1.10em;
  } 
  .location {
    color: rgb(120, 120, 120);
    font-size: 0.90em;
    font-style: italic;
  }
  .applied {
    color: rgb(120, 120, 120);
    font-size: 0.90em;
  }
}

.application-event {
  .event-date {
    font-size: 0.80em;
    color: rgb(150, 150, 150);
  } 
  .event-title {
    font-weight: bold;
    font-size: 1.0em;
  }
  .event-description {
    color: rgb(150, 150, 150); 
  }
}

.opportunity-container {
  p.lead {
    font-size: 1.10em; 
  }
  h1 {
    font-size: 1.20em;   
    font-weight: bold;
  }

  h2 {
    font-size: 1.05em; 
    font-weight: bold;
  }

  li, p {
    color: rgb(110, 110, 110); 
    font-size: 0.95em;
  }

  p.skills {
    font-style: italic; 
  }
}

.cover-letter-container {
  h1 {
    font-size: 1.20em; 
    font-weight: bold;
  } 

  p {
    color: rgb(110, 110, 110); 
  }
}

.activity-message-box {
  .timestamp {
    font-size: 0.90em;
    color: rgb(150, 150, 150);
  } 

  .staff_name, .student_name, .opportunity {
    font-weight: bold;
  }
}

.recommended-students {
  .title {
    text-align: center; 
    font-weight: bold;
  } 

  li {
    list-style-type: none;
  } 
}

.hide-star {
  visibility: hidden; 
}
