// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.person-box {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .name {
    font-size: 1.35em;
  } 
  .school {
    font-weight: bold;  
  }
  .info {
    .email, .phone {
      color: rgb(125, 125, 125);
      font-family: "Georgia";
      font-size: 1.0em;
      font-weight: bold;
    }
    .address, .city-state {
      color: rgb(50, 50, 50) ;
      font-weight: bold;
    }
  }
}