// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.person-box {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .name {
    font-size: 1.35em;
  } 
  .info {
    .semester {
      font-weight: bold; 
    }

    .email, .phone {
      color: rgb(125, 125, 125);
    }
  }
}