- @activity_messages.each do |msg|
  - if msg.type.eql? 'ApplicationRecommendationMessage'
    = render 'application_recommendation_message_box', msg: msg
  - elsif msg.type.eql? 'OpportunityRecommendationMessage'
    = render 'opportunity_recommendation_message_box', msg: msg
  - elsif msg.type.eql? 'ApplicationMessage'
    = render 'application_message_box', msg: msg
  - else
    - raise "Unknown activity message type: #{msg.type}"